<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button  href="/setting">←返回</ion-button>
  </ion-buttons>
    <ion-title>修改密码</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-text>请输入旧密码</ion-text>
    </ion-item>
    <ion-item>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-text>请输入新密码</ion-text>
    </ion-item>
    <ion-item>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-text>再输入一次</ion-text>
    </ion-item>
    <ion-item>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>
  

  <section>
  <ion-button expand="block" >确定</ion-button>
  </section>
</ion-content>