  .divcss{
    width:33%;
    margin-top: 10px;
    border: 1px sandybrown;
    background:white; 
    margin-left: 10px;
  }
  .itemblockcss{
    height: 20px;
    background:grey;
    color: grey;
  }
  .divcss1{
    width:33%;
    height: 110px;
    margin-top: 10px;
    border: 1px sandybrown;
    background:white; 
    margin-left: 10px;

   
    
  }