<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="light" (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <h3 style="text-align: center;">关于我们</h3>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div padding-horizontal>
    <div style="margin-top: 20px;" padding-vertical>
      <img class="imgcenter" src="assets/img/app.png"  alt="">
    </div>
    <ion-row text-center>
      <ion-col style="text-align: center;margin-bottom: 40px;">到云 Ver1.0</ion-col>
    </ion-row>

    <form #loginForm="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button class="button button-full button-outline button-positive" href="#">更新日志</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    </form>
  </div>
</ion-content>
